.about-header {
  display: flex;
  align-items: flex-end;
  height: 50vh;
  object-fit: cover;

  h1 {
    @include right-rounded-border;
    height: 60px;
    margin-bottom: 100px;
  }
}

/* Browse through progams button */
.about-company a {
  @include main-button;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 1rem;
}

/* Section headers */
.about-title {
  @include section-header;
}

/* Our impact section */
.impact-imgs {
  padding-top: 50px;
  padding-bottom: 50px;

  img {
    height: 375px;
    width: 375px;
    margin-left: 20px;
  }
}

/* Awards section */
.awards-images{
  padding-top: 75px;
  padding-bottom: 50px;
  align-items: baseline;
  font-size: 1.3rem;
  text-align: center;
}


/* Team members section */
.bxslider {
  .team-members {
    margin-left: 100px;
  }
}

// Tablet version
@media screen and (min-width: 640px) {
  .impact-imgs {
    display: flex;
    justify-content: center;
  }

  .awards-container {
    display: flex;
    justify-content: space-around;
  }
}
