.about-header {
  display: flex;
  align-items: flex-end;
  height: 50vh;
  object-fit: cover;

  h1 {
    @include right-rounded-border;
    height: 60px;
    margin-bottom: 100px;
  }
}

/* Browse through progams button */
.about-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  p {
    padding-left: 20px;
  }
}

.browse-button {
  @include main-button;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 50px;
}

/* Section headers */
.about-title {
  @include section-header;
}

/* Our impact section */
.impact-imgs {
  padding-top: 50px;
  padding-bottom: 50px;

  img {
    height: 375px;
    width: 375px;
    margin-left: 20px;
  }
}

/* Awards section */
.awards-images{
  padding-top: 75px;
  padding-bottom: 50px;
  align-items: baseline;
  font-size: 1.3rem;
  text-align: center;
}


/* Team members section */
.team-members {
  margin-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.member-name {
  font-size: 1.1rem;
  line-height: 0;
}

.position-title {
  font-size: 1rem;
  opacity: 0.3;
  line-height: 0;
}

.personal-info {
  font-size: 0.9rem;
}

.social-media a {
  padding-left: 10px;
  color: black;
  text-decoration: none;
  opacity: 0.3;
}

// Tablet version
@media screen and (min-width: 640px) {
  .impact-imgs {
    display: flex;
    justify-content: center;
  }

  .awards-container {
    display: flex;
    justify-content: space-around;
  }

  .about-company p {
    width: 50rem;
  }

  .browse-button {
    width: 30%;
  }

  .team-members {
    margin-left: 100px;
    text-align: left;
  }
}
