.forceFullWidth .gallery-cell-image, .forceFullWidth .gallery-cell{
  width: 210px;
}

.flickity-slider img {
  height: 200px;
  margin-top: 75px;
  margin-bottom: 70px;
  margin-left: 50px;
}


/* Partners section */
#wpflickity-2{
  .flickity-slider img {
    height: 175px;
  }
}

/* Team members section */
#wpflickity-3 {
  .flickity-slider img {
    height: 350px;
    width: 250px;
  }
}
