.forceFullWidth .gallery-cell-image, .forceFullWidth .gallery-cell{
  width: 210px;
}

#wpflickity-1 {
  .flickity-slider img {
    height: 200px;
    @include slider-margin;
  }
}


/* Partners section */
#wpflickity-2{
  .flickity-slider img {
    height: 175px;
    @include slider-margin;
  }
}

/* Team members section */
#wpflickity-3 {
  .flickity-slider img {
    height: 350px;
    width: 250px;
    @include slider-margin;
  }
}
