/*--------------------------------------------------------------
#Footer
--------------------------------------------------------------*/
//Mobile
.line-separator{
  height: 1.8px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: $accent_color;
}

.site-footer {
  font-family: Helvetica, sans-serif;
  font-weight: 350;
  padding: 1rem;
  color: #a9a9a9;
  text-align: center;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-networks,
.office-info,
.contact-info {
  min-width: 100%;
  flex: 1 0 100%;
}

.social-networks{
  text-align: center;
  margin-top: 1rem;
}

.facebook-icon a,
.twitter-icon a {
  display: inline-block;
  color: $color_footer_link;
  font-size: 1.5rem;
  border: 1.5px solid #a9a9a9;
  border-radius: 50%;
  padding: .3rem .5rem;
  margin: .5rem 1rem;
  width: 40px;
  height: 40px;

  &:visited {
    color: $color_footer_link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color_footer_link-hover;
  }
}

.address, .operation-hours{
  margin-right: 1rem;
  margin-left: 1rem;
}

.phone-number, .email-info{
  margin-left: 1rem;
}

.email-info{
  text-decoration: none;
  color: $color_footer_link;

  &:visited{
    color: $color_footer_link;
  }
  &:hover,
  &:focus,
  &:active{
    color: $color_footer_link-hover;
  }
}

/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
----------------------Media Query---------------------------------
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
@media only screen and (min-width: 640px) {

  .line-separator{
    visibility: hidden;
  }

  .footer-info {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }

  .office-info,
  .contact-info {
    text-align: left;
    display: flex;
    min-width: none;
    max-width: 67%;
    flex: 1 0 67%;
  }

  .social-networks {
    min-width: 0;
    max-width: 33%;
    flex: 1 0 33%;
    order: 3;
  }

  .phone-number{
    margin-right: 3.5rem;
  }
}

@media only screen and (min-width: 1240px) {

  .line-separator{
    visibility: hidden;
  }
}
