/*--------------------------------------------------------------
#Footer
--------------------------------------------------------------*/
//Mobile
.line-separator{
  height: 1.8px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: $accent_color;
}

.site-footer{
  padding: 1rem;
  color: #a9a9a9;
  text-align: center;
  font-weight: 300;
}

.social-networks{

  margin-top: 1rem;
  display: flex;
  justify-content: center;

  a {
  	color: $color_footer_link;

  	&:visited {
  		color: $color_footer_link-visited;
  	}
  	&:hover,
  	&:focus,
  	&:active {
  		color: $color_footer_link-hover;
  	}
  }
}

.facebook-icon{
  font-size: 1.5rem;
  border: 1px solid #a9a9a9;
  border-radius: 50%;
  padding: .5rem 1.2rem;
  margin: .5rem 1rem;
}

.twitter-icon{
  font-size: 1.5rem;
  border: 1px solid #a9a9a9;
  border-radius: 50%;
  padding: .5rem .9rem 0rem .9rem;
  margin: .5rem 1rem;
}

.phone-number{
  padding: 0 1rem;
}

.email-info{
  padding: 0 1rem;
  text-decoration: none;
  color: $color_footer_link;

  &:visited{
    color: $color_footer_link;
  }
  &:hover,
  &:focus,
  &:active{
    color: $color_footer_link-hover;
  }
}
