/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

// Navbar //

.site-header {
  position: fixed;
  top: 0;
  background-color: $main_color;
  width: 100%;
  height: 15vh;
  z-index: 5;

  .home_img {
    position: absolute;
    left: 30px;
    bottom: 30px;
    height: 40px;
    width: 35px;
  }

  .menu-toggle {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: $main_color;
    box-shadow: none;
    border: none;

    &:active {

    }
  }
}
