/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

// Navbar //

.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: $main_color;
  width: 100%;

  .home_img {
    position: absolute;
    bottom: 10px;
    height: 100px;
    width: 150px;
  }

  .menu_img {
    position: absolute;
    height: 100px;
    width: 150px;
  }
}
