/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

// Navbar //

.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: $main_color;
  padding: 15px;
  width: 100%;
  height: 60px;
  z-index: 5;

	// Spring Logo //

  .spring-u-home {
    display: none;
  }

	// Hamburger Menu //

  .menu-toggle {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;

		img {
			height: 25px;
		}

    .x-mark {
      display: none;
    }
  }
}

// Site Pages//

.menu-spring_main_menu-container {
  display: none;

  ul {
		width: 100%;
	 	position: fixed;
		flex-direction: column;
		list-style: none;
		margin: 0;
		margin-top: 60px;
		padding: 0;
		font-size: 1.5rem;
		text-transform: uppercase;
		line-height: 5rem;
    z-index: 4
	}

	li {
		border-top: 1px solid white;
		padding-left: 35px;
		background-color: $main_color;
	}
	a {
		color: white;
		text-decoration: none;
    font-family: $font_spring;
    font-weight: lighter;
    text-shadow: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

  .menu-item-41 {
    background-color: $highlight_color;
  }
}

// Tablet Version //


@media screen and (min-width: 920px) {
  .site-header {
    padding: 3px;
  }

  .site-branding {

    .spring-home {
      display: none;
    }

    .spring-u-home {
      display: block;
      height: 50px;
    }
  }

  .menu-toggle {
    display: none;
  }

	.menu-spring_main_menu-container {
    display: block;

		ul {
			display: flex;
			flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
			font-size: 0.9rem;
      margin-top: 0;
      z-index: 6;
      height: 60px;
		}

    li {
      border-top: none;
      background: none;
    }

    .menu-item-41 {
      background: none;

      a {
        background-color: $highlight_color;
        padding: 10px;
        border-radius: 5px;
      }
    }
	}
}
