.mobile_home_hero {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.inner_hero {
  width: 90%;
  height: 80%;
  max-height: 400px;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    img {
      height: 60%;
    }
}

.subtext_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: $font_spring;
  font-style: italic;
  font-weight: 300;
  color: gray;
  text-align: center;
  p {
    max-width: 60%;
  }
}

.mobile_cta a{
  font-family: $font_spring;
  font-weight: bold;
  font-size: 0.8rem;
  background: $highlight_color;
  height: 30px;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px gray;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
  &:hover {
    background-color: $button_hover;
  }
}
.down_button {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $down_button;
  text-shadow: 0px 1px 3px gray;
  margin-top: 50px;
}


.desktop_home_hero {
  height: 100vh;
  position: relative;
  display: none;
}

.video_text_overlay {
  background: rgba(0,0,0,0.6);
  height: 98%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
    .home_hero_h1 {
      font-family: $font_spring;
      font-style: italic;
      font-weight: 300;
      color: #fff;
      margin-top: -50px;
    }
    
    .home_hero_logo {
      height: 80%;
    }
    
    .fa-play-circle-o {
      color: #fff;
      width: 100%;
      text-align: center;
    }
}

.offer_text {
  display: none;
}

.section_header {
  @include section-header;
}

//Call to action button

.home_cta a {
  @include main-button;
  margin: 0 auto;
  align-self: flex-end;
  width: 50%;
}


//Below is a workaround to make the vimeo video flex with the container size

.js-video {
  height: 0;
// padding-top: 25px;
  padding-bottom: 56.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
//  margin-top: 15vh;
  z-index: 0;
}

.js-video.widescreen {
  // padding-bottom: 57.25%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
 
.overlay iframe {
  width:100%; 
  height:181%; 
  position:absolute; 
  left:0; 
  top:-40%; 
  z-index:-1;
}

// end of workaround 
//what we offer section

.what_we_offer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

//Program Blocks on home page

.program_blocks {
  max-width: $content_width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home_program_box {
  background: $main_color;
  width: 80%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
//  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .home_program_text {
    padding: 10px;
  }
  
  .home_program_title {
    font-family: $font_spring;
    color: #fff;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin: 0;
  }
  
  p{
    font-family: $font_spring;
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
  }

  .home_program_img {
    height: 100px;
    margin: 10px;
  }  
}

.program_cta {
  width: 100%;
}


// Where we are section

.map_section {
  position: relative;
}

#map {
  width: 100%;
  height: 450px;
}

.map_overlay {
  position: absolute;
  bottom: 0;
  .map_overlay_text {
    color: #fff;
    font-family: $font_spring;
    background: rgba(0,0,0,0.6);
    border: 1px solid #e1e1e1;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

.location_cta {
  margin-bottom: 20px;
}

// Events Section

.home_events {
  height: 420px;
  background: url('../../images/people-coffee-tea-meeting.jpg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 50px;
    p {
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: $font_spring;
      text-shadow: 0px 0px 7px #000;
    }
  
}

// Blog Section

.home_blog {
  height: 290px;
  background: url('../../images/events.jpg');
  background-size: cover;
  a {
    @include main-button;
    margin: 0 auto;
    align-self: flex-end;
    width: 50%;
  }
}

// Stay updated section

.home_updated {
  height: 190px;
  background: $main_color;
    p {
      margin: 0;
      color: #fff;
      font-family: $font_spring;
    }
}
  
// Media Queries

@media (min-width: 500px) {
  .home_program_box {
    width: 45%;
  }
  .program_blocks {
    justify-content: space-around;  
  }  
}

@media (min-width: 600px) {
  .desktop_home_hero {
    display: block;
    height: 100%;
  }
  .mobile_home_hero {
    display: none;
  }
  #map {
    height: 650px;
  }
  .home_blog {
    background-position: 0px -140px;
  }
  .offer_text {
    display: block;
    max-width: $content_width;
    font-family: $font_spring;
    margin: 0 auto; 
    padding: 20px; 
  }
}

@media (min-width: 700px) {
  .home_program_box {
    width: 23%;
    max-width: 190px;
    height: 240px;
    flex-wrap: wrap;
    text-align: center;
  }
  .home_program_img {
    margin-bottom: 0px !important;
  }
  .home_program_title {
    text-align: center !important;
    margin-top: 0px;
    margin-bottom: 10px !important;
  }
  .home_program_text {
    padding-top: 0 !important;
    height: 50%;
  }
  .program_blocks {
    justify-content: space-around;  
    align-items: center;
    flex-wrap: wrap;
  }  
  .program_cta {
    width: 50%;
 }
 
 .map_overlay {
   position: absolute;
   top: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   .map_overlay_text {
     color: #fff;
     font-family: $font_spring;
     background: rgba(0,0,0,0.6);
     width: 80%;
     padding: 15px;
     margin: 0 auto;
     margin-top: 100px;
   }
 }
 .location_cta {
   width: 50%;
   margin: 0 auto;
   margin-bottom: 10px;
 }
 
}