.program-offer{
  @include section-header;
  padding-top: 5.7rem;
  padding-bottom: 2rem;
}

.program-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem 1rem 0 1rem;
  font-family: $font_spring;
}

.single-container a{
  display: inline-block;
  border: 4px solid #F49110;
  border-radius: 7px;
  min-width: 280px;
  max-width: 280px;
  padding: 2rem 1rem 1rem 1rem;
  margin: 1rem;
  text-align: center;
  background-color: $main_color;
  color: #fff;
  text-decoration: none;

  &:hover{
    background-color: #F49110;
  }
}

.program-image {

  img {
  background-color: transparent;
  width: 140px;
  height: 140px;
  }
}

.program-title{
  font-size: 1.7rem;
  font-weight: 900;
  margin-top:0;
}

.program-keywords{
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: lighter;
}

.program-tuition{
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 1;
}

.tuition-amount{
  font-size: 3rem;
  font-weight: 800;
}

.program-onetime-tuition{
  font-size: .8rem;
  margin-bottom: 1rem;
}
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
----------------------Media Query---------------------------------
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
@media only screen and (min-width: 640px) {



}

@media only screen and (min-width: 1240px) {

  .program-container{
    justify-content: space-around;
  }

}
