.program-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
  font-family: $font_spring;
}

.single-container a{
  display: inline-block;
  border: 3px solid #F49110;
  border-radius: 7px;
  min-width: 270px;
  max-width: 270px;
  // min-height: 500px;
  // max-height: 500px;
  padding: 3rem 1rem 1rem 1rem;
  margin: 1rem;
  text-align: center;
  background-color: $main_color;
  color: #fff;
  text-decoration: none;

  &:hover{
    background-color: #F49110;
  }
}

.program-image {

  img {
  background-color: transparent;
  }
}

.program-title{
  font-size: 1.5rem;
  margin-top:0;
}

.program-tuition{
  font-size: 2rem;
}

.program-onetime-tuition{
  font-size: .8rem;
}
/*-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
----------------------Media Query---------------------------------
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
@media only screen and (min-width: 640px) {



}

@media only screen and (min-width: 1240px) {

  .program-container{
    justify-content: space-around;
  }

}
