.about-header {
  display: flex;
  align-items: flex-end;
  height: 50vh;
  object-fit: cover;

  h1 {
    @include right-rounded-border;
    height: 60px;
    margin-bottom: 100px;
  }
}

/* Browse through progams button */
.browse {
  display: flex;
  justify-content: center;

  button {
    @include main-button;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    text-shadow: none;
    margin-bottom: 70px;
  }
}

/* Section headers */
.about-title {
  @include section-header;
}

/* Our impact section */
.impact-imgs {
  padding-top: 50px;
  padding-bottom: 50px;

  img {
    height: 375px;
    width: 375px;
    margin-left: 20px;
  }
}

/* Awards section */
.awards-images{
  padding-top: 75px;
  padding-bottom: 50px;
  align-items: baseline;
  font-size: 1.3rem;
  text-align: center;
}


/* Team members section */
.bxslider {
  li {
    margin-left: 100px;
  }
}

.bx-clone {
  display: none !important;
}


// Tablet version
@media screen and (min-width: 640px) {
  .impact-imgs {
    display: flex;
    justify-content: center;
  }

  .awards-container {
    display: flex;
    justify-content: space-around;
  }
}
